body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.site-nav {
  font-size: 14px;
  line-height: 16px;
}
.title {
  text-align: center;
  background-color: #2f303a;
}
.logo {
  font-family: "Raleway", sans-serif;
}
.h2-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.pers .employee .name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
.pers .employee .work {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.nav-adress .adress {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
}
.title .main-title {
  color: #fff;
  text-align: center;
}

.section .section-title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.section .title-description {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.title-button {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
}
.filter-button {
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.catalog .catalog-img .catalog-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}
.catalog .catalog-img .catalog-specifics {
  font-size: 16px;
  line-height: 30px;
}
.filter-button:hover {
  background-color: #2196f3;
}
.site-nav .link:hover {
  color: #2196f3;
}
.nav-adress .adress:hover {
  color: #2196f3;
}
