:root {
  --button-color: #2196f3;

  --text-color: #212121;

  --main-text: #757575;

  --background-text: #fff;

  --button-background: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
ul {
  list-style: none;
}
footer {
  background-color: var(--text-color);
}
.color-footer {
  color: var(--button-color);
}
.color-title {
  color: var(--button-color);
}
.title {
  text-align: center;
  background-color: var(--text-color);
}
.location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-text);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-color);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-text);
}
.button-text {
  color: var(--background-text);
  font-style: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.h2-title {
  font-style: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: 1.16;
}
.pers .employee .name {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}
.pers .employee .work {
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text);
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
}
.pers .employee {
  background-color: var(--button-background);
}
.site-nav .link {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}
.nav-adress .adress {
  color: var(--main-text);
  line-height: 1.18;
  font-style: Medium;
  font-size: 14px;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}
.title .main-title {
  color: var(--background-text);
  text-align: center;
  font-style: Black;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.section .section-title {
  color: var(--text-color);
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section .title-description {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.title-button {
  color: var(--background-text);
  background-color: var(--button-color);
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  text-align: center;
}
.filter-button {
  background-color: var(--button-background);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  width: 128px;
  height: 38px;
  width: 103px;
  height: 38px;
}
.filter-button {
  font-style: Medium;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}
.filter .catalog-img .catalog-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter .catalog-img .catalog-specifics {
  font-size: 16px;
  line-height: 1.87;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.footer-adress {
  color: var(--background-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.filter-button:hover {
  background-color: var(--button-color);
  color: var(--background-color);
}
.site-nav .link:hover {
  color: var(--button-color);
}
.nav-adress .adress:hover {
  color: var(--button-color);
}
.nav-adress .adress:focus {
  color: var(--button-color);
}
.site-nav .link:focus {
  color: var(--button-color);
}
.filter-button:focus {
  background-color: var(--button-color);
  color: var(--background-color);
}
